li {
  list-style: none;
}
.wrap {
  background: #1b1d20;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: none;
  position: relative;
  scroll-snap-type: y mandatory;
  overflow: hidden;
}
.particle {
  background-color: #1b1d20;
  position: absolute;
  width: 100%;
  height: 100%;
}
.project_wrap {
  width: 1000px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: #fff;
  position: relative;
  animation: showUp 0.6s forwards;
}
.fixedItem {
  width: 750px;
  height: 750px;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: scale(0.8);
}
.circle_wrap {
  width: 750px;
  height: 750px;
}
.bigDot {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 46.875em;
  height: 46.875em;
}
.track {
  stroke: #c2c2c2;
  fill: none;
  stroke-width: 4px;
}
.progress {
  stroke: #d4d4d4;
  box-shadow: 0px 0px 7px 9px #d4d4d4;
  stroke-width: 9px;
  stroke-dasharray: 2200;
  stroke-dashoffset: 2200;
  transform: rotate(270deg);
  transform-origin: center;
  transition: all 0.6s ease-in-out;
  filter: blur(2px);
}
.dot {
  fill: #070707;
  stroke: #fff;
  stroke-width: 3;
}
/* project_dot */
.pokemon,
.jintube,
.notTodo,
.jinflix,
.skt,
.sticky {
  transition: all 0.6s ease-in-out;
  stroke-width: 4px;
  filter: blur(0.4px);
}
.pokemon:hover,
.jintube:hover,
.notTodo:hover,
.jinflix:hover,
.skt:hover,
.sticky:hover {
  fill: #d4d4d4;
  filter: blur(2px);
}
.small_title_wrap {
  position: absolute;
  width: 100%;
  height: 100%;
  pointer-events: none;
  user-select: none;
  color: #d9d9d9;
  font-size: 22px;
  transition: opacity 0.6s ease-in-out;
}
.small_title:first-child {
  position: relative;
  top: -4%;
  left: 50%;
}
.small_title:nth-child(2) {
  position: absolute;
  right: -2%;
  top: 20%;
}
.small_title:nth-child(3) {
  position: absolute;
  right: -10%;
  bottom: 20%;
}
.small_title:nth-child(4) {
  position: absolute;
  left: -2.5%;
  top: 12%;
  text-align: right;
  line-height: 1.3;
}
.small_title:nth-child(5) {
  position: absolute;
  left: 0%;
  bottom: 20%;
}
.small_title:last-child {
  position: absolute;
  bottom: -4%;
  right: 52%;
}

/* title */

.title {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  user-select: none;
  pointer-events: none;
}
.list_wrap {
  width: 500px;
  height: 400px;
  position: relative;
}
.list {
  position: absolute;
  width: 100%;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 2.813rem;
  opacity: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: all 0.6s linear;
  font-family: "Jeju-Myeongjo";
}
.list_t {
  position: absolute;
  width: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 1.813rem;
  opacity: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: all 0.6s ease;
  font-family: "Jeju-Myeongjo";
}
.list_title {
  line-height: 1.1;
}
.list_num {
  margin: 0;
  font-size: 2.188rem;
  color: #a6a6a6;
  padding-bottom: 20px;
}
.list_sub {
  margin: 0;
  font-size: 1.75rem;
  color: #a6a6a6;
  padding-top: 20px;
}
.show {
  margin: 0;
  opacity: 1;
}
.hide {
  margin-top: 20px;
  opacity: 0;
}
.show_t {
  margin: 0;
  opacity: 1;
}
.hide_t {
  margin-top: 20px;
  opacity: 0;
}

.margin {
  margin: 0;
}
.wrap_m {
  display: none;
  background-color: #1b1d20;
}
.ul {
  position: fixed;
  top: -30px;
  left: 0;
  width: 100vh;
  height: calc(100vw);
  overflow: scroll;
  transform: rotate(-90deg);
  transform-origin: center calc(50vh);
  z-index: 2;
  padding: 0;
}
.ul::-webkit-scrollbar {
  display: none;
}
.li {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 1em auto;
  padding: 2em;
  width: 350px;
  height: 350px;
  transform: rotate(90deg);
  text-align: center;
}
.list_m {
  font-size: 66px;
  color: #c3c3c3;
  font-family: "Jeju-Myeongjo";
  letter-spacing: 2px;
}

@keyframes textChangeShow {
  from {
    margin-top: 20px;
    opacity: 0;
  }
  to {
    margin: 0;
    opacity: 1;
  }
}

@keyframes textChangeHide {
  from {
    margin: 0;
    opacity: 1;
  }
  to {
    margin-top: 20px;
    opacity: 0;
  }
}

@keyframes showUp {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@media screen and (max-width: 1024px) {
  .wrap {
    display: none;
  }
  .wrap_m {
    display: flex;
  }
}
@media screen and (max-width: 768px) {
  .list_m {
    font-size: 58px;
  }
}
@media screen and (max-width: 550px) {
  .list_m {
    font-size: 38px;
    line-height: 1.2;
  }
  .li {
    width: 150px;
    height: 150px;
    margin: 0.1em auto;
  }
}
@media screen and (max-width: 480px) {
  .list_wrap_m {
    font-size: 20px;
  }
}
@media screen and (max-width: 380px) {
  .list_wrap_m {
    font-size: 16px;
  }
}
