@value makerBgBlack,makerGrey,makerLightGrey,makerWhite from '../../common/color.css';

a,
a:hover,
a:link,
a:active {
  text-decoration: none;
}

.wrap {
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: makerBgBlack;
  color: makerGrey;
  cursor: none;
  animation: showUp 0.6s forwards;
}
.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  background-color: makerBgBlack;
  border-radius: 100%;
  position: absolute;
  bottom: 30px;
  right: 30px;
}
.particle {
  background-color: makerBgBlack;
  position: absolute;
  width: 100%;
  height: 100%;
}
.element_wrap {
  width: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2;
}
.text_wrap {
  margin-left: 200px;
}

.title {
  font-size: 3.438rem;
  margin: 0;
  color: makerGrey;
  font-family: "Noto-Sans-KR";
  font-weight: 400;
}
.contact {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  font-size: 1.625em;
  color: makerLightGrey;
  margin-top: 60px;
  font-family: "Noto-Serif-KR";
  font-weight: 400;
}
.dash {
  width: 20px;
  height: 1px;
  background-color: makerGrey;
  content: "";
  margin: 0 20px;
}
.mailAndCall {
  margin-bottom: 20px;
  color: makerGrey;
  font-size: 1.125rem;
  position: relative;
}
.mailAndCall::after {
  position: absolute;
  width: 100%;
  height: 1px;
  content: "";
  background-color: rgba(255, 255, 255, 0.3);
  bottom: -4px;
  left: 0;
  transition: background 0.6s ease;
}
.mailAndCall:hover::after {
  background-color: rgba(255, 255, 255, 1);
}
.form {
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  grid-template-columns: repeat(2, 1fr);
  row-gap: 60px;
  column-gap: 30px;
  width: 500px;
  background-color: unset;
}
.text {
  outline: none;
  border: none;
  border-bottom: 1px solid makerGrey;
  background-color: unset;
  color: makerWhite;
  font-size: 1.125em;
}
.message {
  grid-column: 1/3;
  margin-top: 7px;
}
.btn {
  background-color: unset;
  border-radius: 20px;
  border: 1px solid makerGrey;
  color: makerLightGrey;
  margin-top: 40px;
  font-size: 1.125em;
  padding: 10px 20px;
  cursor: pointer;
  transition: all 0.6s ease-in-out;
}
.btn:hover {
  background-color: makerGrey;
  color: makerBgBlack;
}
.thanks {
  font-size: 26px;
}
@keyframes showUp {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@media screen and (max-width: 1024px) {
  .element_wrap {
    width: 80%;
    flex-direction: column;
    align-items: flex-start;
  }
  .text_wrap {
    margin: 60px 0 0 0;
    width: 100%;
  }
  .form {
    width: 100%;
  }
}
@media screen and (max-width: 768px) {
  .element_wrap {
    width: 80%;
    flex-direction: column;
    align-items: flex-start;
  }
  .text_wrap {
    margin: 60px 0 0 0;
    width: 100%;
  }
  .form {
    width: 100%;
  }
}

@media screen and (max-width: 600px) {
  .name {
    grid-row: 1/2;
    grid-column: 1/3;
  }
  .mail {
    grid-row: 2/3;
    grid-column: 1/3;
  }
}

@media screen and (max-width: 480px) {
  .title {
    font-size: 2.375em;
  }
  .contact_wrap {
    margin-top: 60px;
  }
  .text_wrap {
    margin: 30px 0 0 0;
  }
  .name {
    grid-row: 1/2;
    grid-column: 1/3;
  }
  .mail {
    grid-row: 2/3;
    grid-column: 1/3;
  }
  .sub_title {
    margin: 5px 0 0 0;
  }
  .contact {
    margin-top: 30px;
  }
  .btn {
    font-size: 1rem;
    padding: 7px 10px;
  }
  .logo {
    bottom: 15px;
    right: 15px;
  }
}
