/* serif */
@font-face {
  font-family: "Noto-Serif-KR";
  src: url("font/NotoSerifKR-WEB/NotoSerifKR-WEB/NotoSerifKR-ExtraLight.otf")
      format("opentype"),
    url("font/NotoSerifKR-WEB/NotoSerifKR-WEB/NotoSerifKR-ExtraLight.woff")
      format("woff"),
    url("font/NotoSerifKR-WEB/NotoSerifKR-WEB/NotoSerifKR-ExtraLight.woff2")
      format("woff2");
  font-weight: 200;
  font-style: normal;
}
@font-face {
  font-family: "Noto-Serif-KR";
  src: url("font/NotoSerifKR-WEB/NotoSerifKR-WEB/NotoSerifKR-Light.otf")
      format("opentype"),
    url("font/NotoSerifKR-WEB/NotoSerifKR-WEB/NotoSerifKR-Light.woff")
      format("woff"),
    url("font/NotoSerifKR-WEB/NotoSerifKR-WEB/NotoSerifKR-Light.woff2")
      format("woff2");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "Noto-Serif-KR";
  src: url("font/NotoSerifKR-WEB/NotoSerifKR-WEB/NotoSerifKR-Regular.otf")
      format("opentype"),
    url("font/NotoSerifKR-WEB/NotoSerifKR-WEB/NotoSerifKR-Regular.woff")
      format("woff"),
    url("font/NotoSerifKR-WEB/NotoSerifKR-WEB/NotoSerifKR-Regular.woff2")
      format("woff2");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Noto-Serif-KR";
  src: url("font/NotoSerifKR-WEB/NotoSerifKR-WEB/NotoSerifKR-Medium.otf")
      format("opentype"),
    url("font/NotoSerifKR-WEB/NotoSerifKR-WEB/NotoSerifKR-Medium.woff")
      format("woff"),
    url("font/NotoSerifKR-WEB/NotoSerifKR-WEB/NotoSerifKR-Medium.woff2")
      format("woff2");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Noto-Serif-KR";
  src: url("font/NotoSerifKR-WEB/NotoSerifKR-WEB/NotoSerifKR-semiBold.otf")
      format("opentype"),
    url("font/NotoSerifKR-WEB/NotoSerifKR-WEB/NotoSerifKR-SemiBold.woff")
      format("woff"),
    url("font/NotoSerifKR-WEB/NotoSerifKR-WEB/NotoSerifKR-SemiBold.woff2")
      format("woff2");
  font-weight: 600;
  font-style: normal;
}

/* sans */

@font-face {
  font-family: "Noto-Sans-KR";
  src: url("font/NotoSansKR-WEB/NotoSansKR-WEB/NotoSansKR-Thin.otf")
      format("opentype"),
    url("font/NotoSansKR-WEB/NotoSansKR-WEB/NotoSansKR-Thin.woff")
      format("woff"),
    url("font/NotoSansKR-WEB/NotoSansKR-WEB/NotoSansKR-Thin.woff2")
      format("woff2");
  font-weight: 200;
  font-style: normal;
}
@font-face {
  font-family: "Noto-Sans-KR";
  src: url("font/NotoSansKR-WEB/NotoSansKR-WEB/NotoSansKR-Light.otf")
      format("opentype"),
    url("font/NotoSansKR-WEB/NotoSansKR-WEB/NotoSansKR-Light.woff")
      format("woff"),
    url("font/NotoSansKR-WEB/NotoSansKR-WEB/NotoSansKR-Light.woff2")
      format("woff2");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "Noto-Sans-KR";
  src: url("font/NotoSansKR-WEB/NotoSansKR-WEB/NotoSansKR-DemiLight.otf")
      format("opentype"),
    url("font/NotoSansKR-WEB/NotoSansKR-WEB/NotoSansKR-DemiLight.woff")
      format("woff"),
    url("font/NotoSansKR-WEB/NotoSansKR-WEB/NotoSansKR-DemiLight.woff2")
      format("woff2");
  font-weight: 400;
  font-style: normal;
}

a:hover,
a:link,
a:active {
  text-decoration: none;
}

body {
  margin: 0;
  font-family: "Noto-Serif-KR", serif;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #1b1d20;
  /* overflow: hidden; */
}
/* html {
  scroll-snap-type: y mandatory;
} */

/* code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
} */
