@value makerBgBlack,makerGrey,makerLightGrey,makerWhite from '../../common/color.css';

.wrap {
  position: absolute;
  top: 2.5%;
  left: 2.5%;
  z-index: 999;
  position: fixed;
}
.wrap_m {
  display: none;
  top: 20px;
  left: 20px;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  z-index: 999;
  position: fixed;
}

.text_wrap {
  margin-bottom: 10px;
}
.text {
  display: block;
  height: 30px;
  font-family: "Noto-Serif-KR";
  font-weight: 400;
  font-size: 1rem;
  margin-left: 10px;
  transition: color 0.6s ease-in-out;
  margin: 0;
  line-height: 30px;
  color: makerGrey;
  transition: 0.6s ease-in-out;
  transition-property: color, transform;
}
.text:hover {
  transform: scale(1.1);
}
@media screen and (max-width: 768px) {
  .wrap {
    display: none;
  }
  .wrap_m {
    display: block;
  }
  .menu_icon {
    margin: 0;
    color: makerGrey;
    cursor: pointer;
  }
}

.black {
  color: #070707;
}
.white {
  color: makerGrey;
}
